<ion-header>
    <ion-toolbar>
        <p class="head_counter">< {{current_number}}/{{total_number}} ></p>
        <ion-title>Details</ion-title>
        <!--<ion-buttons slot="end">
            <ion-button [routerLink]="['/feedback']">Feedback</ion-button>
        </ion-buttons>-->
    </ion-toolbar>
</ion-header>

<image-overlay #overlay></image-overlay>

<ion-content padding-top>
    <div class="spinner" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>

    <ion-slides pager="false" [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged()" *ngIf="!loading">
        <ion-slide *ngFor="let data of displayData">
            <div class="data_area">
                <div class="image_container">
                    <img src="{{data.thumbnail}}" alt="Image loading failed" (click)="overlayOpen(data)">
                </div>
                <div *ngFor="let item of data.entries">
                    <p class="entry_label">{{item.label}}</p>
                    <p class="entry_data">{{item.value}}</p>
                </div>

                <!--<div>
                    <p class="entry_label">Standort</p>
                    <p class="entry_data">{{data.location}}</p>
                </div>
                <div>
                    <p class="entry_label">Datierung</p>
                    <p class="entry_data">{{data.date}}</p>
                </div>
                <div>
                    <p class="entry_label">Beteiligte</p>
                    <p class="entry_data">{{data.persons}}</p>
                </div>
                <div>
                    <p class="entry_label">Maße / Umfang</p>
                    <p class="entry_data">{{data.size}}</p>
                </div>-->
            </div>

            <div class="assign_area">
                <vote-icon-group (voted)="voted(data, $event)"></vote-icon-group>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>
