.main {
    width: 100%;
    height: 100%;
    position: absolute;

    left: 0;
    top: 0;

    .accepted {
        position: absolute;
        left: 5px;

        width: 60px;
        height: 60px;

        ion-icon {
            width: inherit;
            height: inherit;
        }
    }

    .declined {
        position: absolute;
        left: calc(100% - 65px);

        width: 60px;
        height: 60px;

        ion-icon {
            width: inherit;
            height: inherit;
        }
    }
}

