

ion-content {

    --pad: 7px;

    padding-left: var(--pad);
    padding-right: var(--pad);
    --padding-start: var(--pad);
    --padding-end: var(--pad);

    .spinner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .image_container_p {
        position: relative;
        text-align: center;

        ion-icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .rights {
            position: absolute;
            top: 10px;
            left: 10px;
            opacity: 0;
            font-size: 16pt;

            p {
                font-weight: bold;
                font-size: 14pt;
                margin-bottom: 10px;
            }
        }
    }

    ion-list {
        ion-card {
            --marg: 10px;

            margin-left: var(--marg);
            margin-right: var(--marg);
            -webkit-margin-start: var(--marg);
            -webkit-margin-end: var(--marg);

            .buttons-header {
                div {
                    display: inline-block;
                    width: 25%;
                    text-align: center;

                    ion-icon {
                        font-size: 16pt;
                    }
                }
            }

            ion-card-header {

                .label-left {
                    font-size: 14pt;
                    display: inline-block;
                    width: 90%;
                    padding-bottom: 10px;
                    vertical-align: bottom;
                }

                .icon-right {
                    display: inline-block;
                    width: 10%;
                    padding-bottom: 10px;
                    vertical-align: bottom;
                }


                ion-icon {
                    font-size: 14pt;
                }
            }

            ion-card-content {

                .p-header {
                    font-weight: bold;
                }

                .p-text {
                    padding-bottom: 5px;
                }
            }
        }
    }
}