<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>PICY</ion-title>
        <ion-buttons slot="end">
            <!--<ion-button [routerLink]="['/nfc-pick-page']"><ion-icon name="wifi"></ion-icon></ion-button>-->
            <ion-button [routerLink]="['/home']"><ion-icon name="home"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<image-overlay #picyOverlay></image-overlay>

<ion-content padding>

    <div class="spinner" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>

    <div class="empty" *ngIf="!loading && index == -1">Sie haben noch keine Objekte gesammelt</div>

    <div *ngIf="!loading && index != -1">
        <h3>{{dataObject.title}}</h3>
        <div class="image_container_p" (click)="overlayOpen(dataObject.image_service)">
            <img src="{{dataObject.image_thumbnail}}" alt="Image did not load" #imgElem>
            <ion-icon name="information-circle-outline" (click)="image_information($event)"></ion-icon>
            <div class="rights" #rightsElem>
                <p>Bereitgestellt von:</p>
                {{dataObject.rights}}
            </div>
        </div>
        <ion-list>
            <ion-card>
                <ion-card-header class="buttons-header">
                    <div (click)="previous()"><ion-icon name="md-arrow-dropleft"></ion-icon></div>
                    <div (click)="openAll()"><ion-icon name="md-add"></ion-icon></div>
                    <div (click)="closeAll()"><ion-icon name="md-remove"></ion-icon></div>
                    <div (click)="next()"><ion-icon name="md-arrow-dropright"></ion-icon></div>
                </ion-card-header>
            </ion-card>
            <ion-card *ngFor="let card of dataObject.cards">
                <ion-card-header (click)="card.min = !card.min">
                    <div class="label-left"><ion-label>{{card.title}}</ion-label></div>
                    <div class="icon-right"><ion-icon [name]="show(card.min)"></ion-icon></div>
                </ion-card-header>
                <ion-card-content *ngIf="!card.min">
                    <div *ngFor="let entry of card.data">
                        <p class="p-header">{{entry.title}}</p>
                        <p class="p-text">{{entry.data}}</p>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
