<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Visionary</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="reload()"><ion-icon name="refresh"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<overlay #overlay>
   <ion-img [src]="image"></ion-img>
</overlay>

<ion-content padding class="masters">

    <!--<ion-slides [pager]="false" [options]="slideOpts">
        <ion-slide *ngFor="let slide of slideData">
            <table>
                <tr><td><img src="{{slide.image}}"/></td></tr>
                <tr><td><h3>Name des Objekts</h3></td></tr>
                <tr><td>{{slide.title}}<br/></td></tr>
                <tr><td><h3>Standort</h3></td></tr>
                <tr><td>{{slide.location}}<br/></td></tr>
                <tr><td><h3>Sammlungen</h3></td></tr>
                <tr><td><div *ngFor="let col of slide.collection">{{col}}</div></td></tr>
            </table>


        </ion-slide>
    </ion-slides>-->

    <div id="view">
        <ul class="stack" swing-stack [stackConfig]="stackConfig" #swingStack1 (throwoutleft)="onThrowOut(true)" (throwoutright)="onThrowOut(false)">
            <!--<li swing-card [ngClass]="c.name" *ngFor="let c of cards">{{c.symbol}}</li>-->
            <li swing-card *ngFor="let c of cards">
                <img src="{{c.image}}">
                <ion-card-header>{{c.title}}</ion-card-header>
                <ion-card-content>
                    <p style="text-align: left; font-weight: bold;">Standort:</p>
                    <p style="text-align: right;">{{c.location}}</p>
                    <p style="text-align: left; font-weight: bold">Sammlungen:</p>
                    <p style="text-align: right;" *ngFor="let col of c.collection">{{col}}<br></p>
                </ion-card-content>
            </li>
        </ul>
    </div>

</ion-content>
