@media screen and (orientation: portrait) {

    ion-content {
        text-align: center;

        #imglogo {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            width: 90vw;
            padding-top: 10px;
        }

        #imgquest {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            width: 90vw;
            bottom: 5px;
        }

        div {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 82vmin;
            height: 82vmin;
            display: inline-block;

            ul {
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 0;
                position: relative;

                li {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    list-style: none;
                    border-radius: 5px;
                    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
                    text-align: center;
                    font-size: 13pt;
                    border: 10px solid #ECECEC;
                    box-sizing: border-box;
                    cursor: default;

                    background-color: #ffffff;
                    background-blend-mode: multiply;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        ion-button {
            position: absolute;
            height: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            --ion-color-primary: var(--university-blue);
        }
    }
}

@media screen and (orientation: landscape) {

    ion-content {
        text-align: center;

        #imglogo {
            position: absolute;
            left: 10px;
            padding-top: 10px;
            width: 45%;
        }

        #imgquest {
            position: absolute;
            right: 10px;
            padding-top: 10px;
            width: 45%;
        }

        div {
            position: absolute;
            margin: auto;
            top: 10vh;
            left: 0;
            right: 0;
            bottom: 0;
            width: 75vmin;
            height: 75vmin;
            display: inline-block;

            ul {
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 0;
                position: relative;

                li {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    list-style: none;
                    background: #fff;
                    border-radius: 5px;
                    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
                    text-align: center;
                    font-size: 13pt;
                    border: 10px solid #ECECEC;
                    box-sizing: border-box;
                    cursor: default;

                    img {
                        position: absolute;
                        width: 100%;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        pointer-events: none;
                    }
                }
            }
        }

        ion-button {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            --ion-color-primary: var(--university-blue);
        }
    }
}