

@font-face {
    font-family: 'ZapfHumnst';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Zap601Rm.ttf") format('ttf');
}

@font-face {
    font-family: 'ZapfHumnst';
    font-style: italic;
    font-weight: 400;
    src: url("../assets/fonts/Zap601It.ttf") format('ttf');
}

@font-face {
    font-family: 'ZapfHumnst';
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/Zap601BI.ttf") format('ttf');
    src: url("../assets/fonts/Zap601BI.woff") format('woff');
    src: url("../assets/fonts/Zap601BI.woff2") format('woff2');
}
