<ion-content padding>

    <!--<div class="code-scanner-button">
        <ion-button [routerLink]="['/covers']" fill="clear"><ion-icon name="camera"></ion-icon></ion-button>
    </div>-->

    <div class="center_wrapper">
        <div class="button_wrapper">
            <ion-button [routerLink]="['/cury']" expand="full">CURY</ion-button>
            <ion-button [routerLink]="['/homy']" expand="full">HOMY</ion-button>
            <ion-button [routerLink]="['/gallery']" expand="full">PICY</ion-button>
        </div>
    </div>


</ion-content>
